*{
    margin:0;
    padding:0;
    box-sizing:border-box;

nav{
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
}

nav ul{
    list-style:none;
    display:flex;
    gap:35px;
}

nav li{
    cursor:pointer;
    font-weight:bold;
}
